button {
    background-color: var(--gray-color);
    border: 1px solid var(--gray-color);
    border-radius: 4px;
    color: var(--text-color);
    cursor: pointer;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
    outline: none;
    transition: 0.2s;
}
  
button:hover {
    border-color: #d0d0d0;
}

button:focus {
    border-color: #4285f4;
}