@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
    background-color: #131516;
    color: #d0d0d0;
    max-width: 800px;
    margin: auto;
    padding: 15px;
    overflow-wrap: break-word;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.15em;
    margin-bottom: 95px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    color: white;
}

a {
    color: #f5ec42;
}

blockquote {
    margin: 0;
    padding-left: 1.2rem;
    border-left: 4px solid #4f545c;
}