@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root {
    --background-color: #131516;
    --text-color: #d0d0d0;
    --gray-color: #4f545c;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 800px;
    margin: auto;
    padding: 15px;
    overflow-wrap: break-word;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.15em;
    margin-bottom: 95px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h1, h2, h3 {
    color: white;
}

a {
    color: #f5ec42;
}

blockquote {
    margin: 0;
    padding-left: 1.2rem;
    border-left: 4px solid #4f545c;
}

input, textarea {
    padding:10px;
    border:0;
    margin: 10px 0;
    background-color: var(--background-color);
    box-shadow:0 0 8px 5px var(--gray-color);
    color: var(--text-color);
    outline: none;
}

form {
    text-align: center;
}