body {
    background-color: #131516;
    color: #d0d0d0;
    max-width: 800px;
    margin: auto;
    padding: 15px;
    overflow-wrap: break-word;
}

.title {
    font-size: 1.35em;
    color: white;
}

a {
    color: #26a9c7;
}