name: Deno FMT Check
on:
  push:
    branches:
      master
  pull_request:
    branches:
      - master

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Deno
        uses: denolib/setup-deno@v2
        with:
          deno-version: 'v1.x'
      - name: Check deno format
        run: deno fmt --check